@charset "UTF-8";
/* ====== Table of content Start =====*/
/*
Project Name: Quizo
File        : CSS Base
Version     : 1.0.0
Author      : jthemes (https://themeforest.net/user/jthemes)
*/
/* ====== Table of content End =====*/
/* Default transition start*/
/*Default transition end*/
.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #2f3146;
}

.count_clock span {
  width: 200px;
  font-size: 2.24875rem;
  padding-left: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  background: -webkit-linear-gradient(#ff512f, #f09719);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.count_progress {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: none;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  top: 30px;
  right: 60px;
}
.count_progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #fd5c2c;
  position: absolute;
  top: 0;
  left: 0;
}
.count_progress.clip-1:after {
  clip: rect(0rem, 9.5em, 4em, 4rem);
}
.count_progress.clip-2:after {
  clip: rect(0rem, 9.5em, 8em, 3rem);
}
.count_progress.clip-3:after {
  clip: rect(0rem, 7.5em, 8em, 2rem);
}
.count_progress.clip-4:after {
  clip: rect(0rem, 7.5em, 8em, 0rem);
}
.count_progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.count_progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background-color: #ffffff;
  font-size: 25px;
  color: #222222;
  line-height: 89px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
  font-weight: 600;
}

.multisteps_form {
  max-width: 56.25rem;
  min-height: 41.9375rem;
  margin: 0rem auto;
  border-radius: 0.625rem;
  /* background-image: url("../images/background/rounded-rectangle.png"), url("../images/background/rounded-rectangle-2.png");
  background-repeat: no-repeat;
  background-position: center top, center bottom; */
}

.multisteps_form_panel {
  display: none;
}

.question_title {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.question_title h1 {
  color: #2f3146;
  font-size: 2.5rem;
  padding: 3.8rem 5rem;
  font-weight: 800;
}

.question_number span {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#ff512f), to(#f09719));
  background: #993921;
}

.form_items {
  padding: 2rem;
}
.form_items li {
  padding-left: 4.6875rem;
  margin-bottom: 1.875rem;
  margin-top: 1.3rem;
}
.form_items li label {
  font-size: 1.375rem;
  color: #636363;
  font-weight: 600;
  cursor: pointer;
}
.form_items li input {
  display: none;
}
.form_items li:after {
  content: "";
  width: 2.8125rem;
  height: 2.8125rem;
  top: 50%;
  left: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  border-radius: 100%;
  border: 3px solid #e3e3e3;
  cursor: pointer;
}
.form_items li:before {
  content: "";
  top: 50%;
  left: 24px;
  font-size: 1.6625rem;
  line-height: 1;
  font-weight: 900;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #993921;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  display: none;
}
.form_items li.active label {
  background: #993921;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form_items li.active:before {
  display: block;
  z-index: 2;
}
.form_items li.active:after {
  border-color: #993921;
  -webkit-transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.next_btn {
  right: 55px;
  bottom: 26px;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0.84375rem 4.375rem;
  outline: none;
  border: none;
  color: #993921!important;
  border: solid 2px #993921;
  background: transparent;
}
.next_btn:hover {
  color: #fff !important;
  background: #993921;
}

.prev_btn {
  color: #2f3146;
  font-size: 1.375rem;
  left: 55px;
  bottom: 26px;
  font-weight: 700;
  background: none;
}

body {
  font-weight: 400;
  line-height: 1.65;
  font-style: normal;
  font-display: swap;
  font-family: "Jost", sans-serif;
}

a,
button,
input {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
a:hover,
button:hover,
input:hover {
  text-decoration: none;
}
a:focus,
button:focus,
input:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@-webkit-keyframes rightLeft {
  0% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}
@keyframes rightLeft {
  0% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}
/* css animations - end
================================================== */
/* transition - start ============================= */
a,
button {
  -webkit-transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/* transition - end ======================= */
.animate_25ms {
  -webkit-animation-delay: 25ms;
          animation-delay: 25ms;
}

.animate_50ms {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.animate_100ms {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.animate_150ms {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.animate_200ms {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1510px;
  }
}
/* ==================================================
*	01 - media screen and (max-width: 991px)
*	02 - media screen and (max-width: 767px)
*	03 - media screen and (max-width: 575px)
*	04 - media screen and (max-width: 410px)
*	05 - media screen and (max-width: 380px)
*	06 - media screen and (max-width: 320px)
*   XX-Large devices (larger desktops)
*   No media query since the xxl breakpoint has no upper bound on its width
================================================== */
@media screen and (max-width: 991.98px) {
  .question_title h1 {
    font-size: 3rem;
    padding: 2rem 3rem;
    font-weight: 600;
  }

  .question_number {
    margin-top: 4.2rem;
  }
  .question_number span {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .form_items li {
    margin-top: 0.8rem;
  }
  .form_items li label {
    font-size: 1rem;
    font-weight: 700;
  }
  .form_items li:after {
    width: 2.1rem;
    height: 2.1rem;
    left: 12px;
  }
  .form_items li:before {
    left: 19px;
    font-size: 1.2625rem;
  }

  .next_btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.64375rem 3rem;
  }

  .prev_btn {
    font-size: 1rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 767.98px) {
  .count_clock {
    display: none;
    padding-right: 1rem !important;
  }

  .multisteps_form {
    max-width: 56rem;
    min-height: 34rem;
    margin: 2.5rem auto;
    background-size: 100% 30%, 100% 18%;
  }

  .question_title h1 {
    font-size: 2rem;
    padding: 1rem 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
  }

  .question_number {
    margin-top: 0rem;
  }
  .question_number span {
    font-size: 0.6rem;
    font-weight: 500;
  }

  .form_items li {
    margin-top: 0.6rem;
  }
  .form_items li label {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .form_items li:after {
    width: 1.9rem;
    height: 1.9rem;
    left: 10px;
  }
  .form_items li:before {
    left: 16px;
    font-size: 1.1625rem;
  }

  .next_btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.64375rem 3rem;
  }

  .prev_btn {
    font-size: 1rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 575.98px) {
  .logo_area {
    text-align: center;
    padding-left: 0rem !important;
  }

  .multisteps_form {
    max-width: 52rem;
    min-height: 31rem;
    margin: 2.5rem auto;
    background-size: 100% 28%, 100% 15%;
  }

  .question_title h1 {
    font-size: 1.7rem;
    margin-top: 1rem;
  }

  .form_items li {
    padding-left: 3.5rem;
    margin-top: 0.4rem;
  }
  .form_items li label {
    font-size: 0.6rem;
    font-weight: 500;
  }
  .form_items li:after {
    width: 1.6rem;
    height: 1.6rem;
    left: 10px;
  }
  .form_items li:before {
    left: 15px;
    font-size: 1rem;
  }

  .next_btn {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.44375rem 2rem;
  }

  .prev_btn {
    font-size: 0.8rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 409.98px) {
  .multisteps_form {
    min-height: 28rem;
    background-size: 100% 28%, 100% 15%;
  }

  .question_title h1 {
    font-size: 1.5rem;
  }

  .form_items li {
    padding-left: 3.5rem;
    margin-top: 0.2rem;
  }
  .form_items li:after {
    width: 1.4rem;
    height: 1.4rem;
    left: 10px;
  }
  .form_items li:before {
    left: 16px;
    font-size: 0.7rem;
  }

  .next_btn {
    font-size: 0.6rem;
  }

  .prev_btn {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 379.98px) {
  .multisteps_form {
    min-height: 28rem;
    background-size: 100% 25%, 100% 15%;
  }

  .question_title h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 319.98px) {
  .multisteps_form {
    min-height: 28rem;
    background-size: 100% 25%, 100% 15%;
  }

  .question_title h1 {
    font-size: 1rem;
  }

  .form_items li {
    padding-left: 3rem;
  }
  .form_items li label {
    font-size: 0.5rem;
  }
  .form_items li:after {
    width: 1.3rem;
    height: 1.3rem;
  }
  .form_items li:before {
    font-size: 0.6rem;
  }
}


.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  z-index: 99;
}
.popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

#customer-quiz, #shop-quiz, #company-quiz {
  display: none; /* Default hidden */
}

#customer-quiz.active, #shop-quiz.active, #company-quiz.active {
  display: block !important; /* Force visible when active */
}






.form_items_content label {
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #e1e1e1;
  margin: 1rem;
  cursor: pointer;
}
.form_items_content input {
  display: none;
}
/* .form_items_content:after {
  content: "";
  width: 1.7rem;
  height: 1.7rem;
  top: 20%;
  right: 35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  border-radius: 100%;
  border: 2px solid #e1e1e1;
  cursor: pointer;
} */
/* .form_items_content:before {
  content: "";
  top: 19.5%;
  right: 39px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 900;
  background: -webkit-linear-gradient(#544cf9, #814cf9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  display: none;
} */

.form_items_content:hover label{
  border: 2px solid #993921;
}
.form_items_content.active label{
  border: 2px solid #993921;
}
.form_items_content.active:before {
  display: block;
}

.form_items_icon img {
  width: 3.75rem;
  height: auto;
}

.form_items_text {
  color: #576072;
  font-size: 1.210625rem;
}


/* Style for the validation message */
.validation-message {
  color: #D8000C; /* Red color for errors */
  display: none; /* Hidden by default */
}

/* Optional: Animation for showing the message */
.validation-message.show {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
